  </div> <!-- content -->
</div> <!-- container -->

<div id="footer">
   <p>A company footer would normally go here</p>
   <p><a href="http://github.com/guyed/Network-Device-Inventory">Inventory, downloadable from github</a>, available under the GPL v2, &copy; 2007 OUCS, University of Oxford</p>
</div>

</body>
</html>
