<h3>Sorry</h3>

<div class="ui-widget">
   <div class="ui-state-error ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
      <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
           Your username of &quot;[% remote_user | html_entity %]&quot; does not match any on the access control list for this application.
      </p>
   </div>
</div>
