<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>[% pagetitle | html_entity %]</title>
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="[% external stylesheet %]" />
    <link rel="stylesheet" type="text/css" href="/inventory.css" />
</head>

<body>
  
<div class="show-all" id="main">
   <div id="hdr">
   <!-- local header -->
   </div>
<div id="container" class="clear">

