</div>
</div> <!-- div#container -->

</div>
</div> <!-- branding -->

<div id="copyright">
    <a href="[% group_website | html_entity %]">[% group_name %]</a>
    <a href="mailto:[% group_email | html_entity %]">&lt;[% group_email | html_entity %]&gt;</a><br />
    Released under the GPL v2<br />
</div>

</body>
</html>
